body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #90b1e2 0%, #f5f7fa 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#quizContainer {
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

h2 {
  color: #333;
}

.option-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.option-container input {
  margin-right: 10px;
}

.correct {
  background-color: lightgreen;
}

.wrong {
  background-color: lightcoral;
}

#explanation {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;

}

button:hover {
  background-color: #0056b3;
}